body {
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue; 
    
}

.menu {
    width: auto;
    height: 1920px;
    background-color: bisque;
    
}

.mono {
    font-size: 2rem;
    color:dodgerblue;
    font-family: Arial;
    padding: 1rem;
    margin: 1rem;
    border: 6px;
    margin: 25px;
    width: 700px;
    height: 5px;
    
}


#main {
    border: 2px;
    font-family: arial;
    height: 400px;
   
}

#bob {
    color: black;
    font-family: arial;
    font-size: 1rem;
    padding: 5px;
    margin: 25px;
    width: 700px;
    height: 20px;
    float: left;
    
    
}

p {
    color: black;
    font-family: arial;
    font-size: 1rem; 
    padding: 5px;
    margin: 25px;
    width: 700px;
    height: 10px;
    border: 30px;
    float: left;

    
}
section {
    padding: 5px;
    margin: 1px;
   
}

h4 {
   font-size: 1.5rem;
    color: dodgerblue;
    font-family: arial;
    margin: 0.5rem;
    padding: 0.5rem;
    
}
    
li {
    font-size: 1rem;
    font-family: arial;
    padding: 0.5rem;
}

img {
    border-image: url(main.css);
    height: 500px;
    width: 1340px;
    padding: 0px 0px;
    margin: 0px;
    float: center;   
   
}

.container {
    position: relative;
    text-align: center;
    color: black;

}
    
header {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0px;
}


.centered {
    position: absolute;
    top: 20%;
    left: 6%;
    font-size: 85px;
    color: darkblue;
    text-shadow: 25px 0 85px #f999;
   
/*    transform: translate(-50%, -50%);*/
        
    
}

.left-centered {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 82px;
    color: lightblue;
    
}

nav {
    text-align: left;
    margin: 20px 0 0 ;
    padding: 10px 10px;
    background-color: dodgerblue; 
    background-size: 100px;
    box-sizing: 20px;
    
}


nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0px;
    
}

nav li {
    display: inline;
    padding: 8px 8px;
    list-style: none;
    text-decoration: none
    
}

nav a {
    font-weight: normal;
    padding: 60px 60px;
    font-size: 2.5rem;
    border-color: white;
    text-decoration: none
    text-shadow: 0 0 9px #FF0000;
    
    
}

nav a:hover {
    color:white;
}

footer {
    text-align: center;
    border-bottom: 50px;
    display: inline;
    font-size: 20px;
    font-family: cursive;
    padding: 5px 5px;
    margin: 5px 5px;
}
/*-------------------------------------------------------------------------------------------------------------*/